.img2 {
    margin-top: 150px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 740px;
    background-attachment: absolute;
  }

body {
    background-image: url('page2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;

}


