.img {
    margin-top: 300px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 620px;
    background-attachment: absolute;
  }

body {
    background-image: url('page6.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;

}


.text {
  position: absolute;
  top: 715px; 
  bottom: auto;    
  right: 475px;    
  width: 600px;  
  height: auto;   
}



.img2 {
  position: absolute;
  top: 295px; 
  bottom: auto;    
  right: 475px;    
  width: 600px;  
  height: auto;   
}